#container {padding:1em}

h1 {font-size:2em;margin-bottom:1em}
h2 {font-size:1.5em;margin:.5em 0}
div, p {margin-bottom:.3em}
p {padding-left:1em;text-align:justify;width:40em}
div.links {margin-top:1em}
pre.pastebin {background:#ddd;border:1px solid #888;height:40em;line-height:1.6em;overflow:auto;padding:0 .3em}

form.block label {display:none}
form.finder {padding-left:1em}
textarea {height:20em;width:41em}
