# Sample configuration file for Web:Extend applications
# You can use, modify or redistribute it freely

# Application settings

app.timezone		= UTC
app.toppage			= toppage
app.autoload.path	= //app/php

# Force drivers to start before running the application

start.locale	= 0
start.output	= 1
start.session	= 0

# Cookies settings

cookies.driver	= weeCookies
cookies.path	=

# Database settings

db.driver	= weePgSQLDatabase
db.host		= localhost
db.user		= wee
db.password	= wee
db.dbname	= wee_examples
# db.encoding	= 

# Locale settings

locale.driver	= weeLocale
locale.auto		= 1
locale.default	=

# Output settings

output.driver		= weeXHTMLOutput
output.buffer		= 0
output.buffer.gzip	= 1
# output.encoding		= 

# Session settings

session.driver		= weeSession
session.check.ip	= 1
session.check.token	= 1

# Routing settings

routing.strict	= 0
# route.example	= toppage
