# Sample configuration file for Web:Extend applications
# You can use, modify or redistribute it freely

# Application settings

app.timezone		= UTC
app.toppage			= toppage
app.autoload.path	= //app/php

# Force drivers to start before running the application

start.locale	= 0
start.session	= 0

# Database settings

db.driver	= weePgSQLDatabase
db.host		= localhost
db.user		= username
db.password	= password
db.dbname	= dbname

# Locale settings

locale.driver	= weeLocale
locale.auto		= 1
locale.default	=

# Mail settings

mail.debug.to =
mail.debug.reply-to =

# Output settings

output.driver		= weeXHTMLOutput
output.gzip			= 1

# Session settings

session.driver		= weeSession
session.check.ip	= 1
session.check.token	= 1

# Routing settings

routing.strict	= 0
# route.example	= toppage
