# Sample configuration file for Web:Extend applications
# You can use, modify or redistribute it freely

# Application settings

app.output.buffer	= 1
app.output.gzip		= 1
app.timezone		= UTC
app.toppage			= toppage
app.autoload.path	= //app/php
# app.error.default			= //res/wee/error.htm
app.error.unauthorized	= //res/wee/unauthorized.htm

# Force drivers to start before running the application

start.locale	= 0
start.session	= 0

# Cookies settings

cookies.driver	= weeCookies
cookies.path	=

# Database settings

db.driver	= weePgSQLDatabase
db.host		= localhost
db.user		= wee
db.password	= wee
db.dbname	= wee_examples
# db.encoding	= 

# Locale settings

locale.driver	= weeLocale
locale.auto		= 1
locale.default	=

# Session settings

session.driver		= weeSession
session.check.ip	= 1
session.check.token	= 1

# Routing settings

routing.strict = 0
route.pastebin/(\d+) = pastebin?id=$1
route.pastebin/download/(\d+) = pastebin/download?id=$1
